nav {
    width: 100vw;
    z-index: 0; /* Default z-index */
}

.excel-nav {
    width: 100vw;
}

html, body {
    margin: 0;
    padding: 0;
    /* overflow: hidden;  */
    height: 100%;
}

canvas {
    display: block; /* Removes any small gaps around the canvas */
    position: absolute; /* Ensures canvas is positioned correctly */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.excel-sheet {
    overflow-x: hidden;
    max-width: 100vw; /* Ensure the container doesn't exceed the viewport width */
    max-height: 85vh;
}

.pong-container {
    display: flex;
    flex-direction: row;
}

#defaultCanvas0 {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
}

#p5-play {
    display: none;
}
